html {
    font-size: 20px;
    /* Scelgo 20px perché è facile scrivere le 
    dimensioni dei testi, blocchi, ecc. in funzione di 20 */
    
}

body {
   
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}



/* Utilizzo il z-index per posizionare l'overlay.*/

#up {
    display: flex;
    flex-direction: column;
    height: 22rem;
    width: 100%;
    background: url(img/sfondo1.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

}

#navbar {
    height: 80px;
    width: 98.5%;
    /* Gioco con il valore della width affinché la navbar sia distanziata dal margin destro. Potevo farlo in altri modi, ma questo
    mi sembrava il più semplice. */ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

/* Definisco, tra le altre, la distanza tra i singoli elementi della navbar */
.elemnav {
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Montserrat', 'Helvetica';
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


.elemnav:hover {
    font-size: 0.92rem;
    text-decoration: underline;
}

#cart{
    margin-top: 0.5rem;
    align-self: center;
    height: 1rem;
    width: auto; 
}
#user{
    margin-top: 0.5rem;
    height: 1rem;
    width: auto;
}



#titolo {
    margin-top: 2.5rem;
    font-family: 'Gill Sans MT', sans-serif;
    font-size: 4.7rem;
    letter-spacing: 0.1rem;
    color: white;
    text-shadow: 0.1rem 0.1rem #000000;
    text-align: center;

}



/* Citazione */
#cit{
    background-color: rgba(255, 255, 255, 0.712); /* prova */
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    width: 66.67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

#citazione{
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    color: #000000;

}

#citato{
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.1rem;
    color: #000000;
    text-align: center;
    margin-top: 1rem;
}

/* Section */

#content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 66.67%;
    height: auto;
    margin-top: 3rem;
}

.torneo {
    display: flex;
    margin-bottom: 6rem;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.titolo2 {
    margin-bottom: 1rem;
    font-family: 'Fjalla One', 'Gill Sans MT', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    font-weight: lighter;
    text-decoration: underline;
    color: #000000;
    text-align: center;
}

.imgtorneo {
    margin-bottom: 0.5rem;
    width: 20rem;
    height: auto;
    border-radius: 1.2rem;
    size: 100%;
}

.descrizione {
    margin-bottom: 0;
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    font-family: 'Roboto', 'Gill Sans MT', sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1rem;
}

.obiettivo {
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-family: 'Fjalla One', 'Gill Sans MT', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
}

.titolo2:hover {
    cursor: default;
}


/*cursor: pointer per simulare la possibilità di cliccare l'immagine ed essere reindirizzati alla pagina del torneo in questione*/
.imgtorneo:hover {
    cursor: pointer;
}


/* Mappa */
#modalview{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}

#map{
    width: 70%;
    height: 60vh;
}

.disable-scroll{
    overflow-y: hidden;
  }

#prenota{
    font-family: 'Fjalla One', 'Gill Sans MT', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

#chiama{
    margin-top: 0.5rem;
    font-family: 'Fjalla One', 'Gill Sans MT', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}

#meteo{
    font-family: 'Fjalla One', 'Gill Sans MT', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    margin-top: 1rem;
    text-decoration: underline;
}

#meteo:hover{
    cursor: pointer;
}

#weather{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

#meteoInfo{
    font-family: 'Fjalla One', 'Gill Sans MT', sans-serif;
}

#meteoTemp{
    font-family: 'Fjalla One', 'Gill Sans MT', sans-serif;
    margin-top: 0.5rem;
}

/* Footer */

#down {
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 17rem;
    background-color: rgb(31, 30, 29);
    position: relative;
}

#nome {
    position: absolute;
    align-self: flex-end;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    font-family: 'Times New Roman', sans-serif;
    font-style: italic;
}

#sito {
    position: absolute;
    align-self: flex-start;
    margin-top: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-family: 'Gill Sans MT', sans-serif;
    font-weight: bold;
}

#allinfo {
    width: 80%;
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-around;
}

.info {
    
    font-family: 'Gill Sans MT', sans-serif;
    color: rgb(255, 255, 255);
}

.elemlista {
    padding-top: 0.9rem;
    font-size: 0.7rem;
}

#titlista {
    font-size: 0.8rem;
    text-decoration: underline;
    
}

.elemterms {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#ig{
    display: inline;
}

#ig:hover{
    cursor: pointer;
}

#sede:hover{
    cursor: pointer;
}

#segre:hover{
    cursor: pointer;
}

#campo:hover{
    cursor: pointer;

}

/* Footer per dispositivi con width < 950px */
#menu {
    display: none;
}

.linea {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

#menufooter {
    display: none;
}

.linea2 {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
}


.hidden{
    display: none !important;
}


@media (max-width: 320px) {

    html {
        font-size: 16px;
    }

/* Header */
    .elemnav {
        display: none;
    }

    #menu {
        display: block;
        position: absolute;
        right: 3%;
        top: 3%;
    }

    #titolo {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 3.5rem;
        line-height: 60px;
        margin-left: 5px;
        margin-right: 5px;
    }

/* Section */
    .descrizione {
        width: 8rem;
        text-align: left;

    }

    .obiettivo {
        width: 8rem;

    }

    .imgtorneo {
        width: 10rem;
    }

/* Footer */
    #allinfo {
        display: none;
    }

    #menufooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .footerelem {
        display: flex;
        align-items: center;
        margin: 2.5px;
    }

    .trattini {
        margin-right: 10px;
    }

    .titlista {
        color: white;
        display: inline-block;
        font-family: 'Gill Sans MT', sans-serif;
        text-align: center;
    }

    #sito {
        margin-top: 10px;
    }

}

@media (max-width: 392px) and (min-width: 320px) {
    html {
        font-size: 16px;
    }

/* Header */
    .elemnav {
        display: none;
    }


    #menu {
        display: block;
        position: absolute;
        right: 3%;
        top: 3%;
    }

    #titolo {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 4rem;
        line-height: 80px;
        margin-left: 5px;
        margin-right: 5px;
    }

/* Section */
    .titolo2{
        font-size: 22px;
    }

    .descrizione {
        width: 10rem;
        text-align: left;
        font-size: 20px;

    }

    .obiettivo {
        font-size: 22px;
        width: 10rem;
    }

    .imgtorneo {
        width: 12rem;
    }

/* Footer */
    #allinfo {
        display: none;
    }

    #menufooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .footerelem {
        display: flex;
        align-items: center;
        margin: 2.5px;
    }

    .trattini {
        margin-right: 10px;
    }

    .titlista {
        color: white;
        display: inline-block;
        font-family: 'Gill Sans MT', sans-serif;
        text-align: center;
    }

    #sito {
        margin-top: 10px;
    }

}

@media (max-width: 550px) and (min-width: 392px) {
    html {
        font-size: 16px;
    }

/* Header */
    .elemnav {
        display: none;
    }


    #menu {
        display: block;
        position: absolute;
        right: 3%;
        top: 3%;
    }

    #titolo {
        margin-top: 10%;
        margin-bottom: auto;
        font-size: 4rem;
        line-height: 80px;
        margin-left: 25px;
        margin-right: 25px;
    }

/* Section */
    .titolo2{
        font-size: 20px;
    }

    .descrizione {
        width: 14rem;
        text-align: left;
        font-size: 18px;

    }

    .obiettivo {
        width: 14rem;
        font-size: 20px;
    }

    .imgtorneo {
        width: 16rem;
    }

/* Footer */
    #allinfo {
        display: none;
    }

    #menufooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .footerelem {
        display: flex;
        align-items: center;
        margin: 2.5px;
    }

    .trattini {
        margin-right: 10px;
    }

    .titlista {
        color: white;
        display: inline-block;
        font-family: 'Gill Sans MT', sans-serif;
        text-align: center;
    }

    #sito {
        margin-top: 15px;
    }

}

@media (max-width: 950px) and (min-width: 550px) {
    html {
        font-size: 20px;
    }

/* Header */
    .elemnav {
        display: none;
    }


    #menu {
        display: block;
        position: absolute;
        right: 3%;
        top: 3%;
    }

    #titolo {
        margin-top: 10%;
        margin-bottom: auto;
        font-size: 4.5rem;
        line-height: 80px;
        margin-left: 25px;
        margin-right: 25px;
    }

/* Section */
    .descrizione {
        text-align: left;

    }

/* Footer */
    #allinfo {
        display: none;
    }

    #menufooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .footerelem {
        display: flex;
        align-items: center;
        margin: 2.5px;
    }

    .trattini {
        margin-right: 10px;
    }

    .titlista {
        color: white;
        display: inline-block;
        font-family: 'Gill Sans MT', sans-serif;
        text-align: center;
    }

    #sito {
        margin-top: 15px;
    }

}

